.interfaceWidth{
    --w:[70rem 98vw 72];
    width: var(--w);
}
tag-content{
    --pad:[1.5rem .5rem 40];
    width: 100%;
    min-height: 2.5rem;
    border-width: .0rem;
    padding: var(--pad);
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    margin: .25rem;
    color: rgb(94, 94, 94);
    display: none;
}

tag-open{
    --pad:[1.5rem .5rem 40];
    --fs:[1.25rem 1rem 40];
    width: calc(100% + calc(var(--pad) * 2));
    height: 3rem;
    color: gray;
    font: bold var(--fs) arial;
    letter-spacing: .2rem;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 0rem;
    background-color: var(--tagContent);
    padding: var(--pad);
    border-width: 0;
    border-bottom-width: .15rem;
    border-color: rgba(0, 0, 0, 0.145);
    margin-top: calc(var(--pad) * -1);
    box-shadow: 0rem .25rem 1rem rgba(0, 0, 0, 0.35);
}


tag-open i{
    font-size: 1.5rem;
}

tag-current,select{
    --pad:[1.5rem .5rem 40];
    width: 100%;
    border-width: .1rem;
    border-color: rgba(128, 128, 128, 0.422);
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    margin: .75rem auto;
    padding: var(--pad);
    padding-bottom: 0;
    overflow: hidden;
    box-shadow: 0rem 1rem .85rem rgba(0, 0, 0, 0.35);
}

tag-menu{
    flex-direction: row;

}

tag-menu *{
    padding-left: 1rem;
}

tag-content-inline{
    text-transform: capitalize;
}

select{
    background-color: white;
}

tag-current tag-current:last-child{
    margin-bottom: 2rem;
}

.mainBtn,#deletes{
    --pad:[1.5rem .5rem 40];
    --fs:[1.25rem 1rem 40];
    width: calc(100% + calc(var(--pad) * 2));
    height: 3rem;
    color: gray;
    font: bold var(--fs) arial;
    letter-spacing: .2rem;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 0rem;
    background-color: var(--tagContent);
    padding: var(--pad);
    border-width: 0;
    border-bottom-width: .15rem;
    border-color: rgba(0, 0, 0, 0.145);
    margin-top: calc(var(--pad) * -1);
    box-shadow: 0rem .25rem 1rem rgba(0, 0, 0, 0.35);
}

button#deletes{
    --wdt:[50rem 98vw 52];
    width: var(--wdt);
    text-align: center;
    justify-content: center;
}

button

div.simple{
    background-color: aqua;
}

main.simple{
    background-color: rgb(255, 0, 0);
}


#action{
    z-index: 10000000000000000;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}



details,select,button:not(header *){
    --wdt:[50rem 98vw 52];
    width: var(--wdt);
    height: auto;
}

details:open{  
    --pad:[1.5rem .5rem 40];
    padding: var(--pad);
    border-width: .1rem;
    border-color: rgba(0, 0, 0, 0.145);
    overflow: hidden;
    box-shadow: 0rem 1rem .85rem rgba(0, 0, 0, 0.35);
}

summary{
    width: 100%;
    height: 3rem;
    font-size: 1.05rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    color: white;
    background-color: var(--tagOpenClose);
}

details *:not(details summary){
    width: 100%;
    height: 3rem;
    margin: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0 .5rem;
}
details *:not(input,select){
    border-radius: 1.75rem;
}
#elementPreviewSection{
    z-index: 10000;
    display: none;
    width: 100vw;
    height: 95vh;
    position: fixed;
    box-sizing: content-box;
    padding: 5rem;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    border-width: 0;
    overflow: scroll;
    justify-content: start;
    align-items: center;
}
#elementPreview{
    z-index: 10000;
    width: 100%;
    min-height: 7000rem;
    background-color: rgb(255, 255, 255);
    margin-top: 4.2rem;
}
body #elementPreview:has(*){
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

#btnPreviewClose{
    --wth:[50rem 98vw 72];
    z-index: 100000;
    display: none;
    width: var(--wth);
    min-height: 3rem;
    position: fixed;
    margin: 0;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#creationMenu{
    
    z-index: 100000;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#creationMenu *{
    --wdt:[70rem 98vw 72];
    width: var(--wdt);
    height: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
    font: bold var(--fs) arial;
    letter-spacing: .2rem;
    text-transform: uppercase;
    flex-direction: row;
    border-radius: 0rem;
    background-color: var(--tagContent);
    padding: var(--pad);
    border-width: 0;
    border-bottom-width: .15rem;
    border-color: rgba(0, 0, 0, 0.145);
    box-shadow: 0rem .25rem 1rem rgba(0, 0, 0, 0.35);
}
#creationMenu * *{
    justify-content: center;
    align-items: center;
    align-self: center;
}

#navMenu{
    z-index: 100000;
    position: relative;
    width: 100vw;
    padding-top: .5rem;
    padding-bottom: 1rem;
    box-sizing: content-box;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
}

#btnShowCreationMenu{
    
    --wth:[70rem 90vw 72];
    z-index: 100000;
    width: var(--wth);
    height: 3.5rem;
    letter-spacing: .1rem;
    font: bold 1.65rem times;
    border-width: .2rem;
    background-color: white;
    color: gray;
    border-color: gray;
}
#elementRepresentation{
    margin-top: 4.2rem;
    margin-bottom: 0rem;
}

#action *{
    margin: .25rem;
}

#action * *{
    width: 100%;
    height: 3rem;
    margin: .25rem 0;
    justify-content: center;
    align-items: center;
    border-width: 0rem;
}

#action textarea{
    width: 100%;
    height: 30rem;
    margin:.2rem 0;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: .25rem;
    resize: none;
}


body iframe#fileUploader{
    position:relative ;
    width: 99%;
    height: 7.25vh;
    background-color: rgb(255, 255, 255);
    padding: .05rem;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-radius: 0;
}

#imageGetter{
    position:absolute ;
    width: 100%;
    height: 7.85rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
}
#iframeImgSelection
{
    width: 100%;
    height: 8rem;
}

body #action button#btnImgPreview{
    --wdt:[47rem 90vw 52];
    width: var(--wdt);
    border-radius: .2rem;
    height: 3rem;
    font-size: .75rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    color: gray;
    background-color: rgb(255, 255, 255);
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
}

body #imgPreview{
    --wdt:[70rem 98vw 72];
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    width: var(--wdt);
    background-color: rgb(255, 255, 255);
}


body #imgPreview .imgFit{
    --wdt:[70rem 98vw 72];
    --hgt:[40rem 55vh 72];
    width: var(--wdt);
    height: var(--hgt);
    position: relative;
    margin: .5rem auto ;
    top: 0;
    left: 0;
    transform: none;
    border-radius: .25rem;
}

header{
    z-index: 1000;
    --wth:[100rem 100vw 72];
    --pad:[15rem 5vw 72];
    width: var(--wth);
    height: 4rem;
    padding: 0 var(--pad);
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    position: fixed;
    box-shadow: 0rem .85rem .85rem rgba(0, 0, 0, 0.35);
}
header a{
    font: bold 2rem times;
    color: red;
}
header menu{
    --show:(".menu-btn-close" none ,".menu-btn-open" flex, event-click);
    --visibility:[flex var(--show) 50];
    --pos:[static absolute 50];
    --flow:[row column 50];
    --x:[0 -50% 50];
    display: var(--visibility);
    flex-direction: var(--flow);
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    position: var(--pos);
    top: 4rem;
    left: 50%;
    transform: translateX(var(--x));
    background-color: rgb(255, 255, 255);
    border-width: .25rem;
    border-color: white;
}

header menu a,header menu button,header menu details summary{
    --wth:[auto 98vw 50];
    --hgt:[auto 4rem 50];
    width: var(--wth);
    height: var(--hgt);
    --color:[white rgb(206, 206, 206) 50];
    font:normal 1rem arial; 
    color: gray;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;
    background-color: var(--color);
    margin-top: .25rem;
    border-radius: .15rem;
}
header menu details summary{
    --color:[white rgb(206, 206, 206) 50];
    background-color: rgb(110, 110, 110);
}

header button{
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgba(128, 128, 128, 0);
}

header button i{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.95rem;
}

.menu-btn-open{
    --show:(".menu-btn-close" flex , ".menu-btn-open" none , event-click);
    --visibility:[none var(--show) 50];
    display: var(--visibility);

}
.menu-btn-close{
    --show:(".menu-btn-close" none ,".menu-btn-open" flex , event-click);
    --visibility:[none var(--show) 50];
    display: var(--visibility);

}

main{
    background-color: white;
    width: 100vw;
    align-items: center;
}